
// .homepage{
//     background-image: asset-url("fullstack.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 100%;
// }

.page-footer {
    background: rgba(0,0,0,0);
};

.footertext {
    color: white;
    font-weight: bold;
    margin-top: 50px;
};

.jumbotron {
    background: rgba(0,0,0,0);
    color: rgba(234, 84, 84, 1);
    font-weight: bold;
};

.lead {
    color: rgba(234, 84, 84, 1);
    font-weight: 850;
    padding-top: 50px;
}

.nav-link {
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

.navbar-brand {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

