// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-nav > li{
    padding-left:28px;
    padding-right:28px;
}

.cloudimg {
    width: 30px;
    height: 30px;
}

h3 {
    color: black;
    font-weight: 850;
}

.img-container {
    width: 70px;
    height: 70px;
    display: inline-block;
    float: left;
    clear: left;
}

.img-container img {
    width: 100%;
    height: auto;
    border: 50%;
}
.skills {
    color: white;
    font-weight: bold;
}

.skilltable {
    opacity: 0.8;
}

.lgout {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.lgin {
    padding-left: 160px;
}

.input-group .btn {
    text-align:center;
    display: inline-block;
    float: left;
    clear: left;
    width: 500px;
        
}

.card {
    display: inline-block;
    float: left;
    clear: left;
    border-radius: 2px;
    border-color: white;
    
    background-color: transparent;
}

.card-text {
    color: rgb(244, 102, 102);
    font-weight: 800;
    background-color: transparent;
}

.host-card {
    background-color: white;
    text-align: center;
}

.content-card {
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: rgb(244, 102, 102);
}

.card-title {
    color: black;
    font-weight: bold;
}

.content-container > p {
    text-align: left;
}

.title-container > h2 {
    color: rgb(244, 102, 102);
    margin-top: 10px;
}